extends layout

block content
  h1= title
  p Hello welcome!
  button(type="button", class="btn btn-secondary" onclick="goFaster()") Press Me
  div(id="faster") Increase the speed

  script.
    var mph = 20;
    var change = 1;

    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById("faster").textContent = "MPH " + mph + " with change " + change;
    }
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/items") --- SEE MY ITEMS ---
    br
    a(href="/logout") Logout