extends layout

block content
  h1= title
  form(id='itemForm', action="/resource/item", method="POST")
    div.form-group
      label.costumeAttr(for='item_name') item name
      input#item_name(type='text', name='item_name')
    div.form-group
      label.costumeAttr(for='category') category
      input#category(type='text', name='category')
    div.form-group
      label.costumeAttr(for='quantity') quantity
      input#quantity(type='number', name='quantity')
    input(type="submit")
  script.
    document.forms['itemForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });